{
  "extension": [".ts"],
  "require": ["ts-node/register/transpile-only"],
  "include": ["src"],
  "exclude": ["src/repositories", "src/outbound", "src/entity", "src/app.ts"],
  "reporter": ["html", "text"],
  "all": true,
  "check-coverage": true,
  "lines": 60
}
